body {
  background-color: #667185;
  color: white;
  /* padding: 40px; */
  font-family: Arial;
  text-align: center;
}

div.container {
  margin-top: 20px;
  display: flex;
}

button {
  margin-left: 30px;
}

button.btn-primary {
  background-color: black;
}

#fname {
  padding: 5px 10px;
  border-radius: 7px;
}

.eachItem {
  /* display: flex; */
  /* align-items: center; */
  display: flex;
  justify-content: space-between;

  margin: auto;
  background-color: rgb(47, 80, 187);
  width: 45vw;
  margin-right: 150px;
  border-radius: 7px;
  padding: 4px;
}

.Items {
  margin-top: 20px;
}
